<div class="">
        <div class="carousel-vid">
            <!-- <i class="material-icons carousel-vid-button">play_arrow</i> -->
<!--             <video ng-cloak autoplay loop class="">
                <source src="https://youtu.be/-aBNWK6UsRY" type="video/webm">
            </video>    -->
           <iframe width="422.5" height="240" src="https://www.youtube.com/embed/-aBNWK6UsRY" frameborder="0" allowfullscreen></iframe>
        </div>

    <button ng-click="slickConfig.method.slickPrev()" data-role="none" class="" aria-label="Previous" role="button" style="
    position: absolute;
    z-index: 9999;
    color: #fff;
    background-color: transparent;
    border: 0;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 8px;
    " id="previous"><i class="material-icons md-48">keyboard_arrow_left</i></button>
    <button ng-click="slickConfig.method.slickNext()" data-role="none" class="" aria-label="Next" role="button" style="
    position: absolute;
    z-index: 9999;
    color: #fff;
    background-color: transparent;
    border: 0;
    height: 50px;
    width: 50px;
    top: 50%;
    right: 8px;
    " id="previous"><i class="material-icons md-48">keyboard_arrow_right</i></button>
    <section ng-cloak class="carousel">
        <slick settings="slickConfig" lazy-load="ondemand" slides-to-scroll="1">
        <img src="../assets/images/carousel/hero-slide.jpg" alt="">
        <img src="../assets/images/carousel/slide-app.jpg" alt="">
        <img src="../assets/images/carousel/slide-1.jpg" alt="">
        <img src="../assets/images/carousel/slide-2.jpg" alt="">
        <!-- <img src="../assets/images/carousel/slide-3.jpg" alt=""> -->
        </slick>
    </section>
</div>
<section class="grab-n-go">
    <div class="pattern-mask"></div>
    <div class="container">
        <div class="col-md-offset-7">
            <span class="row">
                <img src="../assets/images/grab-n-go-icons.png">
            </span>
            <span class="row">
                <span class="col-xs-offset-2 col-xs-8">
                    <h2><span style="color:red;">Grab</span> it and <span style="color:red;">go!</span></h2>
                    <p>
                        When fresh powder is calling you don’t have time to carry
                        a million gadgets.
                    </p>
                    <strong>So just grab Forcite and go!</strong>
                </span>
            </span>
        </div>
    </div>
</section>
<section class="never-ski-alone">
    <div class="color-mask"></div>
    <div class="container">
        <div class="col-md-8">
            <span class="row">
                <span class="col-xs-offset-1 col-xs-3"><img class="panel-icon" src="../assets/images/never-ski-alone-icon.png"></span>
            </span>
            <span class="row">
                <span class="col-xs-6">
                    <h2><span style="color:red;">Never</span> ski <span style="color:#fff;">Alone!</span></h2>
                    <p>
                        Never get lost, never lose your mates and, more important, never lose a chance to brag.
                    </p>
                    <strong>
                    <img class="panel-mini-icon" src="../assets/images/radio-icon.png">
                    With built-in comms,
                    </strong>
                    <strong>
                    SLOPES JUST GOT SOCIAL!
                    </strong>
                </span>
            </span>
        </div>
    </div>
</section>
<section class="relive-awesome">
    <div class="pattern-mask"></div>
    <div class="container">
        <div class="center-content">
            <span class="row">
                <img class="panel-icon" src="../assets/images/relive-awesome-icon.png">
            </span>
            <span class="row">
                <h2 class="col-xs-offset-4 col-xs-5">
                <span style="color:red;">Relive</span>
                <span style="color:#fff;">Awesome</span>
                </h2>
            </span>
            <span class="row">
                <p>
                    Sure, snow’s all about the stories, but talk is cheap when you’re back in the bar.
                </p>
                <strong>
                So don’t just talk it - Prove It.
                <img class="panel-mini-icon" src="../assets/images/camera-icon.png">
                </strong>
            </span>
        </div>
    </div>
</section>
<section class="full-on-protection">
    <div class="color-mask"></div>
    <div class="container">
        <div class="col-md-offset-8 col-md-8">
            <span class="row">
                <span class="col-xs-offset-1 col-xs-3"><img class="panel-icon" src="../assets/images/full-on-protection-icon.png"></span>
            </span>
            <span class="row">
                <span class="col-xs-6">
                    <h2><span style="color:red;">Full-On</span>  <span style="color:#fff;">Protection</span></h2>
                    <p>
                        Out to Go-Hard? Forcite Alpine is the only smart snow helmet built from the ground up for your protection.
                    </p>
                    <strong>
                    <div>Wear a Forcite </div>
                    <div>we’ve got your back.</div>
                    <div>
                        <img class="panel-mini-icon" src="../assets/images/forcite-mini-icon.png">
                    </div>
                    </strong>
                </span>
            </span>
        </div>
    </div>
</section>
<section class="camera-system">
    <div class="color-mask"></div>
    <div class="container">
        <div class="center-content">
            <span class="row">
                <img class="panel-icon" src="../assets/images/shoots-like-a-pro.png">
            </span>
            <span class="row">
                <h2 class="col-xs-offset-4 col-xs-5">
                <span style="color:red;">Relive</span>
                <span style="color:#fff;">Awesome</span>
                </h2>
            </span>
            <span class="row">
                <p>
                    Shoots bump-free HD video footage that makes every one of your runs look
                </p>
                <strong style="margin-top: 20px;">
                Like PRO footage.
                </strong>
            </span>
        </div>
    </div>
</section>
<section class="comm-system">
    <div class="color-mask"></div>
    <div class="container">
        <div class="col-md-5">
            <span class="row">
                <span class="col-md-12">
                    <h2><span style="color:red;">Back-Country</span></h2>
                    <h2><span style="color:#fff;">Communication</span></h2>
                    <img class="panel-large-icon" src="../assets/images/back-country-comm.png">
                    <strong>
                    HELMET TO HELMET
                    </strong>
                    <p>
                        Even way off the runs, stay in touch with your mates, wherever they are.
                    </p>
                    <img src="../assets/images/back-country-comm-music.png" class="panel-mini-icon">
                </span>
            </span>
        </div>
    </div>
</section>
<section class="app-demo">
    <video ng-cloak autoplay loop class="bgvid">
        <source src="../assets/video/app.webm" type="video/webm">
    </video>
</section>
<section class="eon-system">
    <div class="color-mask"></div>
    <div class="container">
        <div class="center-content">
            <span class="row">
                <img class="panel-icon" src="../assets/images/eon-logo.png">
            </span>
            <div class="row">
                <div class="col-md-offset-4 col-md-6">
                    <p>
                        The EON system is a custom built computing system. It is the heart of Forcite’s products, hosting 4 core processors to power all the functions and small enough to fit safely into the Forcite helmets.
                    </p>
                </div>
            </div>
            <!-- <div class="icon-container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 icon-box" ng-click="openImpact()">
                      <div class="icon-box">
                          <img src="../assets/images/impact-sensor.png" alt="">
                          <h5>IMPACT</h5>
                          <h5 class="zero-margin-top">SENSOR</h5>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 icon-box" ng-click="openMotion()">
                        <img src="../assets/images/motion-sensor.png" alt="">
                        <h5>MOTION</h5>
                        <h5 class="zero-margin-top">SENSOR</h5>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 icon-box" ng-click="openGps()">
                        <img src="../assets/images/gps.png" alt="">
                        <h5>GPS</h5>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 icon-box" ng-click="openBattery()">
                        <img src="../assets/images/swap-out.png" alt="">
                        <h5>SWAP OUT</h5>
                        <h5 class="zero-margin-top">5-6HR BATTERY</h5>
                    </div>
                </div>
            </div> -->
            <div class="icon-container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3" ng-click="openImpact()">
                        <div class="icon-box">
                            <img src="../assets/images/impact-sensor.png" alt="">
                            <h5>IMPACT</h5>
                            <h5 class="zero-margin-top">SENSOR</h5>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" ng-click="openMotion()">
                        <div class="icon-box">
                            <img src="../assets/images/motion-sensor.png" alt="">
                            <h5>MOTION</h5>
                            <h5 class="zero-margin-top">SENSOR</h5>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" ng-click="openGps()">
                        <div class="icon-box">
                            <img src="../assets/images/gps.png" alt="">
                            <h5>GPS</h5>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" ng-click="openBattery()">
                        <div class="icon-box">
                            <img src="../assets/images/swap-out.png" alt="">
                            <h5>SWAP OUT</h5>
                            <h5 class="zero-margin-top">5-6HR BATTERY</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer-directive></footer-directive>
