.blog-container {
  padding-top: 100px;
  padding-bottom:100px;
  background-color: #414042;
  border-bottom: 2px solid #fff;
  .img-responsive {
    display: inline-block;
  }
  .blog-content-container {
    // height:700px;
    border-left: 3px solid red;
  }
  .dropdown-row {
    h3:hover {
      color:#fff;
      cursor:pointer;
    }
    .material-icons {
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
    }

  }

  .image-row {
    margin-top:30px;
  }

  .description-row {
    margin-top:30px;
  }

  .multiple-post {
    margin-top:100px;
  }

  .title-date-row {
    margin-top: 40px;
  }
  .title {
    color: red;
    border-left: 7px solid red;
    padding-left: 15px;
  }
  .num {
    color: #fff;
  }
  .month {
    color: #a0a0a0;
  }
}
