 $navbar-inverse-link-color: #5AADBB;

 $gray-base: #414042;
 $gray-dark: #222;
 $gray-light: lighten($gray-base, 46.7%);

 $red-accent: #ee3123;

 $icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
