// Arimo
@import url(http://fonts.googleapis.com/css?family=Arimo);
// Orbitron
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700);
// Oswald / Hack for Bebas Neue
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);

 $navbar-inverse-link-color: #5AADBB;
 $gray-base: #414042;
 $gray-dark: #222;
 $gray-light: lighten($gray-base, 46.7%);
 $red-accent: #ee3123;
 $text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
 $icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "./preorder/preorder";
@import "./material-design";
@import "./techspec/techspec";

/*
 * ==========================
 * Typography
 * ==========================
 */

	h1, h2, h3, h4 {
		font-family: 'Orbitron';
	}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
