

.contact-container {
  padding-top:40px;
  font-family: 'Arimo';
  position:relative;

  background: #696969;
  height: 470px;

  color:#fff;
  .material-icons {
    color:#fff;
  }

  input {
    color:#fff;
    background:rgba(0,0,0,0);
    font-style:italic;
  }
  ::-webkit-input-placeholder {
   color:#fff;
 }
  :-moz-placeholder { /* Firefox 18- */
   color:#fff;
 }
  ::-moz-placeholder {  /* Firefox 19+ */
   color:#fff;
 }
 :-ms-input-placeholder {
   color:#fff;
 }

}


.register-container {
  margin-top:60px;
  margin-bottom:30px;
}

.button-container {
  margin-top:50px;
}

.mail-info-container {
  @extend .contact-container;
  border-bottom: 2px solid #fff;
  height: 300px;
  img {
    margin-bottom:20px;

  }
  a {
    color:#fff;
  }
}

#map-canvas {
  // can replace marker later.
  border: 15px solid #3A3A3E;
  background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=-33.900897,+151.200909&zoom=16&scale=2&size=1200x1200&maptype=roadmap&format=jpg&visual_refresh=true&);
  background-size: scale;
  background-position: center center;
  height: 75vh;
  

  #marker {
    position: relative;
    left: 48%;
    top: 38%;
    
    padding: 20px;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    border: 1px solid red;

    -webkit-animation: pulsate 2s infinite;
  }

  #inner-marker {
    position: relative;
    right: 8px;
    bottom: 7px;

    padding: 50%;

    height: 15px;
    width: 15px;

    border-radius: 50%;
    background-color: red;
  }  
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.0);
    opacity: 0.0;
  }
  10% {
    -webkit-transform: scale(1.0);
    opacity: 0.8;
  }  

  100% {
    -webkit-transform: scale(1.6);
    opacity: 0.0;
  }
}

