
<div class="contact-container">
    <div class="container">
        <div class="row register-container">
            <div class="col-md-12 text-center">
                <h3>REGISTER YOUR INTEREST!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form name="userForm" class="form-horizontal" ng-submit="preorder.sendEmail(preorder.userForm)">
                    <div class="form-group">
                        <div ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <div class="left-inner-addon">
                                <i class="material-icons">face</i>
                                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="preorder.userForm.name" ng-maxlength="60" ng-minlength="2" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <div class="left-inner-addon">
                                <i class="material-icons">email</i>
                                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="preorder.userForm.email" ng-maxlength="254" required />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
            <div class="col-xs-6" ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine }">
              <select ng-model="preorder.userForm.country" class="form-control" ng-options="country.name for country in preorder.countryList track by country.code" required >
                <option value="">Select a Country</option>
              </select>
            </div>
          </div> -->
                    <div class="form-group">
                        <div class="text-center button-container">
                            <button class="btn fc-button" type="submit" name="Submit" value="Submit">PRE-ORDER</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div id="map-canvas"></div>

<div class="mail-info-container ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 text-center ">
                <img src="../assets/images/forcite-logo.png " alt="... " class="img-rounded ">
                <h4>Suite 1B level 2</h4>
                <h4>204-218 Botany Rd</h4>
                <h4>Alexandria 2015</h4>
                <h4>Sydney NSW, Australia</h4>
                <br>
                <span>Please e-mail:</span>
                <p><a ng-href="mailto:info@forcite.com.au ">info@forcite.com.au</a></p>
            </div>
        </div>
    </div>
</div>
<footer-directive></footer-directive>

