.contact-container {
  padding-top: 30px;
  font-family: 'Arimo';
  background: #3A3A3E;
  height: 400px;
  color:#fff;
  .material-icons {
    color:#fff;
  }
  input {
    color:#fff;
    background:rgba(0,0,0,0);
    font-style:italic;
  }
  ::-webkit-input-placeholder {
     color:#fff;
  }
  :-moz-placeholder { /* Firefox 18- */
     color:#fff;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color:#fff;
  }
  :-ms-input-placeholder {
     color:#fff;
  }
}

.register-container {
  margin-top:60px;
  margin-bottom:30px;
}

.button-container {
  margin-top:50px;
}

.mail-info-container {
  @extend .contact-container;
  border-bottom: 2px solid #fff;
  height: 300px;
  img {
    margin-bottom:20px;
  }
  a {
    color:#fff;
  }
}

#map-canvas {
  background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=-33.900897,+151.200909&zoom=14&scale=2&size=1200x1200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C-33.900897,+151.200909);
  background-size: fixed;
  background-position: center center;
  height: 55vh;
}
