/** Carousel **/
.mask-carousel {
	height: 97.5%;
}

.carousel {
	position: relative;
	bottom: 22px;

	width: 100vw;
	overflow: hidden;
	z-index: -1;
}


// Carousel Buttons
.slick-button {
	position: absolute;

	width: 60px;
	height: 60px;
	margin: 0 15px;

	color: #fff;
	border: 1px solid $gray-light;
	border-radius: 50%;

	background-color: rgba(255,255,255,0);

	z-index: 99;

	transition: .3s all ease-in-out;

	&:hover {
		color: $red-accent;
	}
}

.slick-left {
	@extends .slick-button;
	left: 0;
	top: 50%;
}
.slick-right {
	@extends .slick-button;
	right: 0;
	top: 50%;
}	

/* 
 * ==========================
 * Masks
 * ==========================
 */

.color-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;		
}

.pattern-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: url("../assets/images/mask.png");
}

/* 
 * ==========================
 * Grab 'n' Go
 * ==========================
 */

 .grab-n-go {
	position: relative;
	text-align: center;
	margin-top: -50px;
	height: 80vh;

 	background-color: $gray-base;
 	background-image: url('../assets/images/grab-n-go.jpg');
	background-size: cover;
	overflow: hidden; 	
	.color-mask {
		// background-color: rgba($gray-dark, 0.5);	
	}
 }