footer {
  padding-top: 30px;
  background: $gray-dark;
  margin-top: -26px;
  border-top: 1px solid $red-accent;

  .footer-container {
    margin-top:20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    .logo-container {
      
      img {
        margin-bottom:20px;
      }
    }

    .list-inline {
      margin-left: -12px;
      img {
        position: relative;
        height: 25px;
        width: 25px;
        border-radius: 2px;
        margin-left: 15px;
      }
    }

    .list-unstyled {
      li {
        a {
          font-family: 'Bebas Neue';
          font-size: 2.4em;
          line-height: 0.86;
          font-weight: 500;            
          color:#fff;
          &:hover {
            text-decoration: none;

          }
        }
        margin-bottom:5px;
      }
    }

    h4 {
      margin-top:20px;
      margin-bottom:20px;
      color: #a0a0a0;
    }
  }
}
