<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="row">
          <h3>FORCITEALPINE</h3>
        </div>
        <div class="row">
          <p>FEATURES</p>
        </div>
        <div class="row">
          <p>TECH SPECS</p>
        </div>
        <div class="row">
          <p>PRE-ORDER</p>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <div class="row">
          <img src="http://placehold.it/100x100" alt="..." class="img-rounded hidden-xs">
        </div>
        <div class="row">
          <p>FOLLOW US ON</p>
        </div>
        <div class="row">
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/forcitehelmetsystems">
                <img src="../assets/images/facebook.png">
              </a>
            </li>
            <li>
              <a href="https://instagram.com/forcitehelmets/">
                <img src="../assets/images/instagram.png">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/forcitehelmets">
                <img src="../assets/images/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 text-right">
        <div class="row">
          <h3>FORCITEALPINE</h3>
        </div>
        <div class="row">
          <p>ABOUT</p>
        </div>
        <div class="row">
          <p>CONTANT</p>
        </div>
        <div class="row">
          <p>BLOG</p>
        </div>
        <div class="row">
          <p>NEWS</p>
        </div>
      </div>
    </div>
  </div>


</footer>
