<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="row">

          <ul class="list-unstyled">
            <li><a ui-sref="home.features">FEATURES</a></li>
            <li><a ui-sref="home.techspecs">TECH SPECS</a></li>
            <li><a ui-sref="preorder">PRE-ORDER</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 text-center logo-container">
        <div class="row">
          <img src="../assets/images/logo-glyph.png" alt="..." class="img-rounded hidden-xs">
        </div>
        <div class="row">
          <p>FOLLOW US ON</p>
        </div>
        <div class="row">
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/forcitehelmetsystems">
                <img src="../assets/images/facebook.png">
              </a>
            </li>
            <li>
              <a href="https://instagram.com/forcitehelmets/">
                <img src="../assets/images/instagram.png">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/forcitehelmets">
                <img src="../assets/images/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 text-right">
        <div class="row">

          <ul class="list-unstyled">
            <li><a ui-sref="home.about">ABOUT</a></li>
            <li><a ui-sref="home.contact">CONTACT</a></li>
            <!-- TODO: WIREUP BLOG & NEWS  -->
            <li><a ui-sref="blog">BLOG</a></li>
            <li><a href="">NEWS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</footer>
