
/*
 * ==========================
 * Navbar Main
 * ==========================
 */

 .nav.navbar-nav {	
 	font-family: 'Orbitron';
 	font-size: 13px;

 	position: fixed;
 	padding-top: 8px;
  

 	.container-fluid {
 		padding-bottom: 16px !important;
 	}

 	li a {
    color: #fff;
    padding-bottom: 16px;

    &:hover {
      color: red;      
    }
  }

  .active {
    color: red !important;
    border-bottom: 1px solid #3A3A3E;
  }

}



.logo-glyph {
  position: relative;
  top: 2px;

  max-height: 60px;
  min-height: 40px;

  padding: 15px 15px;
}

.navbar-links-right {
  position: absolute !important;
  right: 155px;  
  text-transform: uppercase;  
}

.navbar-right {
  display: inline-flex;
  padding-top: 18px;
  margin-right: 15px;

  img {
   position: relative;

   height: 25px;
   width: 25px;
   border-radius: 2px;
   margin-left: 15px;

   transition: 0.3s all ease-in-out;

   &:hover {
    filter: invert(75%);
  }
}
}

/*
 * ==========================
 * Sub Nav
 * ==========================
 */

 .subnav {
 	height: 75px;
 	margin-top: 60px;
 	position: fixed;
 	display: block;
 	width: 100vw;

 	font-family: 'Orbitron';
 	z-index: 9999;
 	background-color: rgba(20, 20, 26, 0.75);
 	// background-color: #3A3A3E;
 	padding-top: 25px !important;

 	a {
 		position: relative;
 		top: 2px;
 		color: #fff;
    text-decoration: none;
    

    &:hover {      
      border-bottom: 1px solid red;
    }
  }

  button {
   position: relative;
   bottom: 5px;
 }

 .active {
  color: cyan;
  border-bottom: 1px solid red;
}
}


.navbar-inner {
  .container {
    min-width: 88%;
  }
}


 /*
  * ==========================
  * Overrides
  * ==========================
  */

  .navbar-static-top {
    transition: all 0.2s ease-in-out;  
    position: fixed !important;
    top: 0;
    display: block;
    width: 100vw;
    z-index: 9999999;
  }

  .navbar {
  	margin-bottom:0px;

  }


 /*
  * ==========================
  * Buttons
  * ==========================
  */

  .fc-button {
    padding-top: 8px;

    color: #fff;
    background-color: rgba(0,0,0,0.0);
    border: 1px solid #fff;
    transition: 0.3s all ease-in-out;

    &:hover {
     color: cyan;
     border: 1px solid $red-accent; 
   }
 }