
/*
 * ==========================
 * About Carousel
 * ==========================
 */

 .about-carousel {
 	position: relative;
 	background-size: cover;
 	height: 100%;
 	padding-bottom: -20px;
 	// bottom: 22px;

	// width: 98.8vw;
	overflow: hidden;
	z-index: -1;
}


/*
 * ==========================
 * Team Info
 * ==========================
 */

 .team-info {
 	@extend .panel-frontpage;
 	position: relative;
 	text-align: center;

 	height: 80vh;	

 	background-image: url('../assets/images/team-image.jpg');
 	background-size: cover;
 	background-position: center center;

 	overflow: hidden; 	

 	.color-mask {
 		background-color: rgba($gray-dark, 0.75);
 		z-index: 0;
 	}

 	p {
 		margin-top: 22%;
 		position: relative;

 		font-size: 1.4em;
 		text-align: justify;
		padding: 0.1em; /* hack to remove widow text. */

		z-index: 3;
	}
}


.story-info {
	@extend .panel-frontpage;
	position: relative;
	text-align: center;

	height: 80vh;	

	background-image: url('../assets/images/about-helmet.jpg');
	background-size: cover;
	background-position: center center;

	overflow: hidden; 	

	.color-mask {
		background-color: rgba($gray-dark, 0.65);
		z-index: 0;
	}

	.col-md-offset-3.col-md-6 {
		margin-top: 10%;

		p {
			position: relative;

			font-size: 1.4em;
			text-align: justify;
			padding: 0.1em; /* hack to remove widow text. */

			z-index: 3;	
		}
	}
}