<div class="preorder-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="../assets/images/forcite-logo.png" alt="..." class="img-rounded">
        <p>Provide your details below</p>
        <br>
        <p class="zero-margin-bottom">Secure one of the</p>
        <p class="zero-margin-bottom">first helmets</p>
        <h4 class="zero-margin-bottom">FOR</h4>
        <h4 class="thirty-margin-bottom">DISCOUNT OPPORTUNITIES!</h4>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3"></div>
      <div class="col-xs-6 col-sm-6 col-md-6">

        <form name="userForm" class="form-horizontal" ng-submit="preorder.sendEmail(preorder.userForm)">
          <div class="form-group">
            <div ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <div class="left-inner-addon">
                <i class="material-icons">face</i>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="preorder.userForm.name" ng-maxlength="60" ng-minlength="2" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <div class="left-inner-addon">
                <i class="material-icons">email</i>
                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="preorder.userForm.email" ng-maxlength="254" />
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="col-xs-6" ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine }">
              <select ng-model="preorder.userForm.country" class="form-control" ng-options="country.name for country in preorder.countryList track by country.code" required >
                <option value="">Select a Country</option>
              </select>
            </div>
          </div> -->
          <div class="form-group">
            <div class="text-center">
              <button class="btn fc-button" type="submit" name="Submit" value="Submit">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3"></div>
    </div>
  </div>



</div>
<footer-directive></footer-directive>
