<div class="preorder-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="../assets/images/forcite-logo.png" alt="..." class="img-rounded">
        <p>Provide your details below</p>
        <br>
        <p class="zero-margin-bottom">to be first in line when</p>
        <!-- <p class="zero-margin-bottom">in line</p> -->
        <!-- <h4 class="zero-margin-bottom">ORDERS</h4> -->
        <h4 class="thirty-margin-bottom">ORDERS OPEN!</h4>
      </div>
    </div>
    <!-- to be first in line when orders open -->
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3"></div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <form name="userForm" class="form-horizontal" ng-submit="preorder.sendEmail(preorder.userForm)">
          <div class="form-group">
            <div ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <div class="left-inner-addon">
                <!-- <i class="material-icons">face</i> -->
                <img class="contact-recipient-icon" src="../assets/images/contact/recipient-sm-icon.png" style="
                position: absolute;
                left: 10px;
                top: -28px;
                width: 22px;
                ">
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="preorder.userForm.name" ng-maxlength="60" ng-minlength="2" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <div class="left-inner-addon">
                <i class="material-icons">email</i>
                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="preorder.userForm.email" ng-maxlength="254" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div ng-class="{ 'has-error' : userForm.comments.$invalid && !userForm.comments.$pristine }">
              <textarea placeholder="Comments" name="comments" class="form-control" ng-model="preorder.userForm.comments" rows="3" ng-maxlength="1000"></textarea>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="col-xs-6" ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine }">
              <select ng-model="preorder.userForm.country" class="form-control" ng-options="country.name for country in preorder.countryList track by country.code" required >
                <option value="">Select a Country</option>
              </select>
            </div>
          </div> -->
          <div class="form-group">
            <div class="text-center">
              <button class="btn fc-button" type="submit" name="Submit" value="Submit">PRE-ORDER</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3"></div>
    </div>
  </div>
</div>
<footer-directive></footer-directive>
